<div class="main-container">
    {{!-- <h1 class="title">Airspace</h1> --}}
    <div class="welcome-container host-welcome">
        <h1>{{title}}</h1>
        <p>Host DashBoard</p>
        <p></p>
        <h1 class="key">{{uniqueid}}</h1>
        <input type="button" value="Create Another Survey?" onclick="location.replace('http://localhost:3001/host/{{uniqueid}}/{{id}}/newsurvey')">
        <div class="tablehost">
            
        </div>
    </div>
</div>
{{#each result}}
    <button type="button" data-target="activate-survey" data-survey-id='{{survey_id}}'>Click to activate survey: {{survey_name}}</button>
    <button type="button" data-target="results" data-surveyid ='{{survey_id}}'>Click to see results from survey: {{survey_name}}</button>
    <br>
    <br>
{{/each}}


<script src="../../../javascripts/host-dashboard.js" type='text/javascript'></script>

{{!-- click activate and send of the host and survey id 
on the web socket out to on the receiving message part and make sure the id and url  --}}